WebContent/wsdl/ws_library.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WS_LibraryService" targetNamespace="http://controller/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://controller/" version="1.0" xmlns:tns="http://controller/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="AddBook" type="tns:AddBook"/>

  <xs:element name="AddBookResponse" type="tns:AddBookResponse"/>

  <xs:element name="DeleteBook" type="tns:DeleteBook"/>

  <xs:element name="DeleteBookResponse" type="tns:DeleteBookResponse"/>

  <xs:element name="GetBooks" type="tns:GetBooks"/>

  <xs:element name="GetBooksResponse" type="tns:GetBooksResponse"/>

  <xs:element name="UpdateBook" type="tns:UpdateBook"/>

  <xs:element name="UpdateBookResponse" type="tns:UpdateBookResponse"/>

  <xs:complexType name="GetBooks">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="GetBooksResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateBookResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="AddBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddBookResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="DeleteBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeleteBookResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="DeleteBookResponse">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateBookResponse">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetBooksResponse">
    <wsdl:part name="parameters" element="tns:GetBooksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddBookResponse">
    <wsdl:part name="parameters" element="tns:AddBookResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetBooks">
    <wsdl:part name="parameters" element="tns:GetBooks">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateBook">
    <wsdl:part name="parameters" element="tns:UpdateBook">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddBook">
    <wsdl:part name="parameters" element="tns:AddBook">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteBook">
    <wsdl:part name="parameters" element="tns:DeleteBook">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WS_Library">
    <wsdl:operation name="GetBooks">
      <wsdl:input name="GetBooks" message="tns:GetBooks">
    </wsdl:input>
      <wsdl:output name="GetBooksResponse" message="tns:GetBooksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input name="UpdateBook" message="tns:UpdateBook">
    </wsdl:input>
      <wsdl:output name="UpdateBookResponse" message="tns:UpdateBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input name="AddBook" message="tns:AddBook">
    </wsdl:input>
      <wsdl:output name="AddBookResponse" message="tns:AddBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input name="DeleteBook" message="tns:DeleteBook">
    </wsdl:input>
      <wsdl:output name="DeleteBookResponse" message="tns:DeleteBookResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LibraryServiceSoapBinding" type="tns:WS_Library">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="urn:GetBooks" style="document"/>
      <wsdl:input name="GetBooks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBooksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="urn:UpdateBook" style="document"/>
      <wsdl:input name="UpdateBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="urn:AddBook" style="document"/>
      <wsdl:input name="AddBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="urn:DeleteBook" style="document"/>
      <wsdl:input name="DeleteBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LibraryService">
    <wsdl:port name="WS_LibraryPort" binding="tns:WS_LibraryServiceSoapBinding">
      <soap:address location="http://localhost:8080/project_1/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
